.section--background {
  background: #f5f4fa;
}
.team-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-list__description {
  padding: 30px 0;
}
.team-list__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;

  color: $primary-title-color;
}
.team-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}
.social-list {
  list-style-type: none;
  padding: 0;
  margin: 16px 32px 0 32px;

  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  text-decoration: none;
  fill: rgba(175, 177, 184, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link {
  &:hover {
    fill: $white-color;
    background-color: $hover-color;
  }
  &:focus {
    fill: $white-color;
    background-color: $hover-color;
  }
}
